.compare-tables {
    padding: 30px 15px;
    border-top: 1px solid $light-grey;

    .table {
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px $light-grey;
        border-radius: 15px;

        tr td, tr th {
            border-right: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            border-top: 0;

            &:first-child {
                border-left: 1px solid $light-grey;
            }
        }

       tr:first-child  {
           th:first-child {
                border-top-left-radius: 10px;

                img {
                    border-top-left-radius: 10px;
                }
           }

           th:last-child {
                border-top-right-radius: 10px;

                img {
                    border-top-right-radius: 10px;
                }
           }
            
        }

        tr:last-child {
            td:first-child {
                border-bottom-left-radius: 10px;
            }
            td:last-child {
                border-bottom-right-radius: 10px;
            }
        }

        .table-header-img {
            th {
                background: $lightest-grey;
                border: 1px solid $light-grey;
                padding: 0;
                margin: 0;
            }
        }

        .table-header-title {
            th {
                padding: 0;
                background: $uob-blue; 
                text-align: center;
                position: sticky;
                top: 0;
                .dropdown {
                    .dropdown-toggle {
                        width: 100%;
    
                        &:after {
                            position: absolute;
                            right: 10px;
                            padding: 6px;
                        }
                    }

                    .dropdown-menu.show {
                        width: 100%;
                        background: $uob-blue;
                        
                        .dropdown-item {
                            @include rbold();
                            color: $white;
                            padding: 15px;
                            font-size: 16px;
                            line-height: 1.54;

                            &:hover {
                                color: $uob-blue;
                            }

                            &.active,&.visit,&.focus {
                                background: $white;
                                color: $uob-blue;
                            }
                        }
                    }

                    &.show {
                        .dropdown-toggle {
                            &:after {
                                transform: rotate(-135deg);
                                transition: transform .2s;
                                top: 24px;
                            }
                        }
                    }
                }
                
                .uob-h6 {
                    color: $white;
                    padding: 15px;
                }

                &.empty-col {
                    .dropdown {
                        .dropdown-toggle {
                            background: $darkest-grey;
                        }
                    }
                }
            }
        }

        tbody {
            .table-sub-title {
                @include rbold();
                color: $uob-blue;
                padding: 10px;
                font-weight: bold;
            }
            tr {
                td {
                    text-align: center;
                    vertical-align: middle;
                    padding: 20px 10px;

                    &:nth-child(even) {
                        background: $lightest-grey;
                    }
                }
            }

        }

        &.two-cols {
            tr {
                th,td {
                    &:nth-child(3) {
                        display: none;
                    }
                    &:nth-child(4) {
                        display: none;
                    }
                }

                &:first-child  {
                    th:nth-child(2) {
                         border-top-right-radius: 10px;
         
                         img {
                             border-top-right-radius: 10px;
                         }
                    }
                     
                 }
            }

            
        }   
    }
    @include media-breakpoint-up(sm) {
        padding: 30px;      
    }

    @include media-breakpoint-up(md) {
        padding: 40px 45px;

        .table {
            .table-header-title {
                th {
                    .dropdown {
                        .dropdown-toggle {
                            &:after {
                                right: 15px;
                                top: 15px;
                            }
                        }
                    }

                    .uob-h6 {
                        padding: 15px;
                    }
                }
            }

            tbody {
                .table-sub-title {
                    padding: 20px 10px;
                }
            }
        }

    }

    @include media-breakpoint-up(lg) {
        padding: 50px 60px;

    }

    @include media-breakpoint-up(xl) {
        padding: 50px 150px;
    }
}
