.life-stage {
    padding: 30px 15px 0px 15px;

    .content-block {
        padding: 30px 20px;
        margin-left: 0px;
        margin-right: 0px;
        
        .content-block-right {
            margin-top: 40px;

            .content-item-block {
                display: none;
            }

            .content-item-block.active {
                display: block;
            }          
        }

        .custom-select {
            position: relative;
            width: 100%;
            background: transparent;
            border: none;
            outline: none;

            select {
                display: none;
            }

            .select-selected {
                font-size: 20px;
                line-height: 1.5;
                color: $black;
                border-bottom: 2px solid $bright-blue;
            }
              
            .select-selected:after {
                position: absolute;
                content: "";
                top: 9px;
                right: 21px;
                border: solid $bright-blue;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 6px;
                transform: rotate(45deg);
            }
            
            .select-selected.select-arrow-active:after {
                top: 17px;
                transform: rotate(-135deg);
            }
            
            .select-items div {
                font-size: 18px;
                line-height: 1.56;
                cursor: pointer;
                user-select: none;
                color: $black;
                padding: 15px 20px;
            }
            
            .select-items {
                position: relative;
                z-index: 100;
                background-color: $white;
                height: 232px;
                overflow: scroll;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
            }
            
            .select-hide {
                display: none;
            }
            
            .select-items div:hover, .select-items div.same-as-selected {
                background-color: $bright-blue;
                color: $white;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        padding: 30px 30px 0px 30px;
       
     }
 
     @include media-breakpoint-up(md) {
        padding: 40px 45px 0px 45px;

        .content-block {
            padding: 40px 20px;
            min-height: 379px;
            .content-block-left {
                .content-left-item {
                    margin-left: 0px;
                    transition: all .3s ease;

                    img {
                        display: none;
                    }

                    a { 
                        margin-left: -32px;
                        color: $darkest-grey;
                        font-size: 22px;
                        line-height: 1.45;
                        // transition: all 1s ease-in-out;
                    }
                }
                .content-left-item.active {
                    margin-left: 20px;
                    img {
                        display: inline;
                    }

                    a {
                        color: $black;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                }
            }

            .content-block-right {
                margin-top: -80px;
                .content-item-block.active {
                  position: absolute;
                  right: -50px;
            
                    img {
                        width: 408px;
                        height: 225px;
                    }
                    p,a {
                        max-width: 350px;
                        white-space: break-spaces;
                    }
                } 
            }
        }
     }
 
     @include media-breakpoint-up(lg) {
        padding: 50px 50px 0px 60px;

        .content-block {
            padding: 50px 30px;
            min-height: 450px;
            .content-left-item {
                a {
                    font-size: 24px;
                    line-height: 1.42;
                }
            }
            .content-block-right {
                margin-top: -80px;
                .content-item-block.active {
                    right: -100px;
                    img {
                        width: 548px;
                        height: 300px;
                    }
                    p,a {
                        max-width: 480px;
                        white-space: break-spaces;
                    }
                }
            }
        }
     }

     @include media-breakpoint-up(xl) {
        padding: 50px 150px 0px 150px;
        .content-block {
            min-width: 450px;

            .content-item-block.active {
                img {
                    width: 653px;
                    height: 340px;
                    margin-left: 80px;
                }
                p,a {
                    margin-left: 80px;
                    max-width: 600px;
                    white-space: break-spaces;
                }
            }
        } 
     }
}