.uob-table-carousel {
    padding: 30px 15px;

    .content-title {
        margin-bottom: 30px;

        .uob-h2 {
            margin-bottom: 10px;
        }

        .uob-h5 {
            margin-bottom: 0;
        }
    }

    .table-toggle {
        width: 100%;
        overflow: hidden;
        position: relative;
      
        .table-toggle-container {
            position: relative;
            &.overflow {
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.27);
            }
        }
      
        table {
            border-spacing: 0;
            border-collapse: collapse;
            position: relative;
            left: 0;
            transition: left .3s ease-in-out;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            
            tr {
                // white-space: nowrap;
                background: $white;
                td, th {
                    font-size: 16px;
                    line-height: 1.5;
                    text-align: center;
                    border-top: 0;
                    height: 0;
                    border-right: 1px solid $light-grey;
                    border-bottom: 1px solid $light-grey;
                    vertical-align: middle;
                }

                td {
                    padding: 20px 10px;

                    &:first-child {
                        border-left: 1px solid $light-grey;
                        border-right: 0;
                    }
                }

                th {
                    &:first-child {
                        border-left: 1px solid $light-grey;
                        border-right: 0;
                    }
                }

                &:first-child {
                    th:first-child {
                        border-top-left-radius: 10px;
                    }

                    th:last-child {
                        border-top-right-radius: 10px;
                    }
                }

                &:last-child {
                    td:first-child {
                        border-bottom-left-radius: 10px;
                    }
                    td:last-child {
                        border-bottom-right-radius: 10px;
                    }
                }
            }

            thead {
    
                tr {
    
                    th, td:first-child {
                        @include rbold();
                        font-weight: bold;    
                       
                    }
    
                    th {
                        background-color: $dark-blue;
                        color: $white;
                        padding: 31px 10px;
                    }
                }  
            }
          
            tbody {
                tr {
                    th, td {
                        word-wrap:break-word;
                        font-size: 15px;
                        line-height: 1.6;
                        padding: 20px 10px;
                        vertical-align: middle;
                    }
    
                    td:first-child {
                        @include rbold();
                        color: $uob-blue;
                        font-weight: bold;
                    }
    
                }
     
            }

            &.table-floater {
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                tr {
                    th,td {
                        border-top-right-radius: 0!important;
                        border-bottom-right-radius: 0!important;
                    }

                    th , td {
                        &:first-child {
                            border-right: 1px solid $light-grey;
                        }
                    }
                }
        
                &.overflow {
                    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.27);
                }
            }
        }

        .table-toggle-controls {
            text-align: center;

            ul {
                list-style: none;
                display: flex;
                justify-content: center;
                padding-left: 0;
                margin-right: 15%;
                margin-left: 15%;
                margin-top: 30px;
                align-items: center;

                li {
                    margin-right: 15px;
                    &.rounded-circle {
                        width: 10px;
                        height: 10px;
                        background-color: transparent;
                        border: 2px solid #1F6EDA;
    
                        &.active {
                            background-color: $uob-blue;
                            border: 0;
                        }
                    }
                    
                }

            }
      
            a {
                display: inline-block;
            }

            .trigger-btn {
                @include rbold();
                top: 0px;
                right: 52px;
                width: 200px; 
                height: 52px;
                font-size: 14px;
                line-height: 1.57;
                color: $bright-blue;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
                padding: 15px;
                text-align: center;
                background-color: $white;
                transform: rotate(-90deg);
                transform-origin: 100% 0%;
                z-index: 5;

                img {
                    transform: rotate(90deg);
                    margin-left: 5px;
                }
            }
        }
    }

    .table-tips {
        margin-top: 30px;
    }

    @include media-breakpoint-up(sm) {
        padding: 30px;    
    }

    @include media-breakpoint-up(md) {
        table-layout: fixed;
        padding: 40px 45px;

        .content-title {
            margin-bottom: 40px;
        }

        // table {
        //     tr {
        //         td, th {
        //             white-space: nowrap;
        //         }
        //     }
        // }
    }

    @include media-breakpoint-up(lg) {
        padding: 50px 60px;

        .content-title {
            margin-bottom: 50px;

            .uob-h2 {
                margin-bottom: 20px;
            }
        }

        table {
            tr {
                td, th {
                    white-space: nowrap;
                }
            }
        }

        .table-tips {
            margin-top: 50px;
        }
        
    }

    @include media-breakpoint-up(xl) {
        padding: 50px 150px;
    }
}
