@import 'common.scss';

// Steps
$step-count-per-row: 4;
$step-wh: 50px;

// Text / Links
$text-font-size: 16px;
$text-padding: 10px; // Expanded only to prevent longer step text overlapping

.uob-steps {
    padding: 30px 15px;
    margin: 0 auto;

    .content-title {
        margin-bottom: 20px;
    }

    .steps {
        counter-reset: counter; 
        list-style: none;
        text-align: left;
        margin-bottom: 0;
        margin-left: 15px;

        .step-text-block {

            div {
                display: inline-block;
            }

            .count {
                margin-right: 5px;
            }
        }

        li {
          position: relative;
          margin: 10px 0;
          &:before {
            content:'';
            margin-right: -55px;
            box-sizing: border-box;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 100%;        
            border: 2px solid $white;        
            background-color: $bright-blue;
          }

          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 4px;
            height: calc(100% + 3px );
            width: 2px;
            background-color: $white;
        }
        &:last-of-type {
            &:after {
                display: none;
            }
        }
         
          .step-text-block {
            display: inline-block;
            margin-left: 30px;
            color: $white;
            padding-top: (($step-wh - $text-font-size) / 2);
            padding-bottom: (($step-wh - $text-font-size) / 2);

            .subtitle {
                color: $white;
            }
          }
        }
    }

    @include media-breakpoint-up(sm) {
        padding: 30px;   

        .apply-btn {
            margin-bottom: 80px;
        }
        
        .steps {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            padding-left: 0;

            .apply-icon {
                position: absolute;
                left: calc((100% - 30px) / 2);
                top: -45px;
            }

            li {
                width: calc(100% / #{$step-count-per-row});
                position: relative;
                &:before {
                    float: none;
                    margin-right: 0;
                }
            
                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    left: calc((100% + 5px) / 2);
                    transform: translateY(-50%);
                    height: 2px;
                    width: 100%;
                    border-radius: 5px;
                    background-color: $white;
                }
                &:last-of-type {
                    &:after {
                        display: none;
                    }
                }
                .step-text-block {
                    display: block;
                    margin-left: 0;
                    padding-left: $text-padding;
                    padding-right: $text-padding;

                    .count {
                        @include rmedium();
                        display: block;
                        font-size: 20px;
                        line-height: 1.5;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding: 40px 45px;

        .content-title {
            margin-bottom: 30px;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 50px 60px;
    }

    @include media-breakpoint-up(xl) {
        padding: 50px 150px;
    }
}
