/******** Revamp Styling **********/
.uob-calculator {
    padding: 30px 15px;

	[data-toggle="buttons"]>.btn input[type="radio"], [data-toggle="buttons"]>.btn-group>.btn input[type="radio"], [data-toggle="buttons"]>.btn input[type="checkbox"], [data-toggle="buttons"]>.btn-group>.btn input[type="checkbox"] {
		position: absolute;
		clip: rect(0, 0, 0, 0);
		pointer-events: none;
	}
	
    .content-title {		
		+ .content-paragraph {
			margin-top: 10px;
		}
	}

    .uob-calculator-cont {
		background-color: $dark-blue;
		border-radius: 10px;
		color: $white;
		margin-top: 30px;

		.nav-tabs {
			border-bottom: 1px solid $grey-b2;
			.uob-h5 { margin-bottom: 0; color: $white; }
			.nav-item {
				margin: 0 15px;
			}
			.nav-link {
				background-color: transparent;
				outline: none;
				border: 0;
				padding-top: 30px;
				padding-bottom: 15px;
				padding-left: 15px;
				padding-right: 15px;
				height: 100%;
				
				&.active {
					border-bottom: 5px solid $white;
				}
				&:active {
					.uob-h5 {
						color: $grey-b2;
					}
				}
				&:focus {
					outline: 3px solid $focus-blue;
				}
			}

			@include media-breakpoint-up(lg) {
				margin: 0 165px;
			}
			@include media-breakpoint-up(xl) {
				margin: 0 195px;
			}
		}
		.odom-container {
			.odometer-wrap {
				.odo-cur {
					color: $black;
					font-size: 24px;
					line-height: 34px;
					transform: none;
					margin: 5px 0px 5px 5px;
					width: 40px;
					height: 40px;					
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.odometer-wrap-inner {
					display: flex;
					border: 0;
					border-radius: 10px;
				}
				.odometer {
					background: $white;
					box-shadow: none;
					font-size: 24px;
					line-height: 34px;
					padding: 5px;

					.odometer-digit-spacer {
						min-width: 30px;
						min-height: 40px;
						border: 0;
						background: none;
						box-shadow: none;
					}
					.odometer-value {
						min-width: 30px;
						min-height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.odometer-digit {
						min-width: 30px;
						min-height: 40px;
						border: 0;
						background: none;
						box-shadow: none;
						padding: 0;
						margin-right: 10px;
						&:last-child {
							margin-right: 0;
						}
					}
					.odometer-formatting-mark {
						min-width: 30px;
						min-height: 40px;
						border: 0;
						box-shadow: none;
						background: none;
						color: $uob-blue;
						margin-right: 10px;
						&:last-child {
							margin-right: 0;
						}
					}
					.odometer-value {
						color: $uob-blue;
					}
				}

				@include media-breakpoint-down(md) {
					.odometer {
						font-size: 20px;
						line-height: 30px;

						.odometer-digit-spacer,
						.odometer-value,
						.odometer-digit,
						.odometer-formatting-mark {
							min-width: 20px;
						}
					}
				}
			}
		}
		.boxes-form {
      position: relative;
      &.uob-krisflyer {
        .box-item-form {
          &::after {
            display: none;
          }

          .block-label {
            margin-bottom: 25px;
          }
        }
      }
			.box-item-form {
				&:nth-child(1),
				&:nth-child(2) {
					&::after {
						content: "";
						position: absolute;
						width: 40px;
						height: 40px;
						background-color: $dark-blue;
						border-radius: 50%;
						background-image: url(../assets/Icons/icons-plus.svg);
						background-repeat: no-repeat;
						background-position: center;
						right: -35px;
						top: calc(50% - 20px);
						z-index: 2;

						@include media-breakpoint-down(md) {
							top: initial;
							bottom: -35px;
							right: 0;
							left: calc(50% - 20px);
						}
					}
				}
				.fake-input-holder {
					input {
						color: $bright-blue;
						font-size: 15px;
					    font-family: 'Roboto-Medium';
					}
				}
      }
		}
		.calculate-cash-rebate {
			margin-top: 30px;
			margin-bottom: 50px;

			.cash-rebate-header {
				font-size: 15px;
				margin: 30px 0;
				text-align: center;

				> p {
					margin-bottom: 10px;
				}

				@include media-breakpoint-up(xs) {
					margin: 0 20px;
				}

				@include media-breakpoint-up(lg) {
					margin: 0 165px;
				}
				@include media-breakpoint-up(xl) {
					margin: 0 195px;
				}
			}

			.cash-rebate-body {
				padding: 30px;
				color: $black;

				.cash-rebate-cont {
					background-color: $white;
					border-radius: 10px;
					padding: 34px 20px 20px 20px;
					
					figcaption {
						@include media-breakpoint-up(xs) {
							width: 100%;

							.info {
								position: relative;
								top: 0;
								margin-top: 15px;
							}
						}
						@include media-breakpoint-up(md) {
							width: 80%;
							.info {
								position: absolute;
								top: calc(50% - 22px);
								margin-top: -16px;
							}
						}
						@include media-breakpoint-up(lg) {
							width: 85%;
						}
					}
				}
				.cash-rebate-btn {
					text-align: center;
					margin: 50px 0 30px 0;
				}
				.img-wrapper {
					display: flex;
					flex: column;
					align-items: center;
					img {
						margin-right: 10px;
					}
				}
				figure {
					position: relative;
					display: flex;
					flex-direction: column;
					padding-bottom: 20px;
					margin-bottom: 25px;
					border-bottom: 1px solid $light-grey;

					&:last-child {
						border: 0;
						padding-bottom: 0;
						margin-bottom: 0;
					}
				}
				.info {
					right: 0;
    				font-family: 'Roboto-Bold';
				}
				.info-rebate {
					color: $uob-blue;
					font-size: 20px;
					margin-top: 15px;
					margin-bottom: 25px;
				}
				input[type="number"] {
					color: $bright-blue;
					width: 80px;
					margin-left: 10px;
					padding: 10px;
					border: 0;
					text-align: center;
					font-weight: bold;
					background-color: $lightest-grey;
				}
				@include media-breakpoint-down(md) {
					padding: 30px 20px;
				}
			}

			.total {
				display: none;
				margin-top: 20px;
				padding-top: 20px;
				border-top: 1px solid #e5e5e5;

				figure {
					border: 0;
					margin: 0;
					padding: 0;
					&:last-child {
						.info-rebate {
							margin-bottom: 0;
							font-size: 24px;
						}
					}

					figcaption {
						margin-left: 42px;
					}
				}
			}
    }
    .calculator-toggle {
      .btn.btn-success {
        font-size: 15px;
        font-family: 'Roboto-Bold';
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 25px;
        }

        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    .int-calc-holder {
      .computation-message {
        &.calculator-notes {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }
    }
	}

    @include media-breakpoint-up(sm) {
        padding: 30px;
    }
    @include media-breakpoint-up(md) {
        padding: 40px 45px;

		.uob-calculator-cont {
            margin-top: 40px;
        }
    }
    @include media-breakpoint-up(lg) {
        padding: 50px 60px;

		.content-title {		
			+ .content-paragraph {
				margin-top: 20px;
			}
		}
		
		.uob-calculator-cont {
            margin-top: 50px;
        }
    }
    @include media-breakpoint-up(xl) {
        padding: 50px 150px;
    }    
}
/******** Revamp Styling **********/

/******** customised-2018.css from live site **********/
/************************************/
/******** DESKTOP / GLOBAL **********/
/************************************/ 
.custom-desktop-table {
	th {
		color: #fff;
		background: #001f67;
		padding: 25px 12px;
		border: solid 1px #e5e5e5;
	}
	.table-icon {
		max-width: 50px;
	}
	.mg-r-10 {
		margin-right: 10px;
	}
	td {
		padding: 25px 12px;
		vertical-align: top;
		border: solid 1px #e5e5e5;
	}
	tr {
		&:nth-child(even) {
			background-color: #f2f7fb;
		}
	}
	.td-content.td-rate {
		font-size: 20px;
	}
	.row-head {
		color: #001f67;
		padding-left: 20px;
		font-weight: 600;
	}
	.total-text {
		margin-top: 20px;
		display: block;
		font-weight: 900;
	}
	.list-alpha {
		margin-left: -20px;
	}
}
.custom-mobile-table {
	th {
		color: #fff;
		background: #001f67;
		padding: 25px 12px;
	}
	.table-icon {
		max-width: 50px;
	}
	.row-head {
		color: #001f67;
		padding-left: 20px;
		font-weight: 600;
	}
	.total-text {
		margin-top: 20px;
		display: block;
		font-weight: 900;
	}
}
.int-calc-holder.box-white-shadow {
	display: block;
	padding: 50px 30px;

	@include media-breakpoint-down(md) {
		padding: 40px 20px;
	}
}
.int-calc-holder {
	.boxes-form {
		display: flex;
		text-align: center;
		.box-item-form {
			width: 33.3%;
			display: block;
			border-radius: 10px;
			margin-right: 30px;
			padding: 20px;
			float: left;
			background-color: #fff;
			position: relative;
			&:hover {
				box-shadow: 0 0 35px rgba(0,0,0,.1);
			}
			&:last-child {
				margin-right: 0px;
			}
			&:first-child {
				&:after {
					content: '';
					position: absolute;
					right: -35px;
					background-image: url(../../../../web-resources/common/images/table-icons/plus-icon.png);
					background-repeat: no-repeat;
					background-size: 100%;
					display: block;
					width: 25px;
					height: 100%;
					background-position: center center;
					top: 0;
				}
			}
			.box-icon {
				display: block;
				margin: auto;
				max-width: 80px;
			}
			.micro-enga {
				color: $black;
				font-size: 13px;
				text-align: center;
				padding: 0 15px;
				margin-top: 15px;
				img {
					max-width: 25px;
					float: left;
				}
			}
		}
	}
	.computation-message {
		display: block;
		text-align: center;
		display: block;
		margin: 50px 0 20px 0;
		font-size: 15px;
		.value-call {
			font-weight: 700;
		}
	}
}
.boxes-form {

	.box-item-form {
		font-family: 'Roboto-Regular';
		font-size: 15px;
		.block-label {
			font-size: 15px;
			line-height: 24px;
			color: $black;
			margin-bottom: 20px;
			display: block;

			> div {
				margin: 15px;
			}

			> span {
				margin-bottom: 20px;
			}
		}
	}
}
.odom-container {
	display: block;
	width: 100%;
	text-align: center;
	.odometer-wrap {
		margin: auto;
		display: inline-block;
		.odometer {
			font-size: 5.5rem;
			color: #fff;
			background: rgb(65,65,65);
			background: linear-gradient(0deg, rgba(65,65,65,1) 25%, rgba(24,24,24,1) 53%, rgba(66,66,66,1) 75%);
			box-shadow: -5px 0 10px rgba(0,0,0,.4);
		}
		.odometer-wrap-inner {
			float: left;
			border: 6px solid #002469;
			border-radius: 25px;
			background: #fff;
			overflow: hidden;
		}
		.odo-cur {
			float: left;
			background-color: #fff;
			font-size: 5.5rem;
			color: #002469;
			font-weight: 700;
			transform: scale(.7);
		}
		.odometer.odometer-auto-theme {
			.odometer-digit {
				border-left: 1px solid #2b2b2b;
				display: block;
				vertical-align: initial;
				float: left;
				font-weight: 600;
				text-align: center;
				box-shadow: inset 0 0 15px rgba(0,0,0,.5);
				min-width: 65px;
			}
		}
	}
}
.odometer-wrap {
	img {
		float: left;
	}
}
.odometer.odometer-auto-theme {
	float: left;
	display: block;
	.odometer-digit {
		.odometer-digit-spacer {
			border-left: 1px solid #2b2b2b;
			display: block;
			vertical-align: initial;
			float: left;
			font-weight: 600;
			text-align: center;
			box-shadow: inset 0 0 15px rgba(0,0,0,.5);
			min-width: 65px;
		}
		.odometer-digit-inner {
			text-align: center !important;
		}
		.odometer-value.odometer-last-value {
			width: 100%;
		}
	}
}
.odometer-formatting-mark {
	border-left: 1px solid #2b2b2b;
	display: block;
	vertical-align: initial;
	float: left;
	font-weight: 600;
	text-align: center;
	box-shadow: inset 0 0 15px rgba(0,0,0,.5);
	min-width: 65px;
}
input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
input[type=number] {
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}
.number-input {
	height: 45px;
	display: block;
	border: 1px solid #8990a1;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	* {
		box-sizing: border-box;
	}
	.btn-adjust {
		outline: none;
		-webkit-appearance: none;
		background-color: transparent;
		border: none;
		align-items: center;
		justify-content: center;
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		margin: 0;
		position: relative;
		display: block;
		background-color: $bright-blue;
		color: #fff;
		font-weight: 800;
		font-size: 1.6em;
		width: 42px;
		height: 45px;
		line-height: 45px;
	}
	.btn-adjust.left {
		float: left;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		background-image: url(../assets/Icons/icons-minus.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	.btn-adjust.right {
		float: right;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		background-image: url(../assets/Icons/icons-plus.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	.btn-adjust.plus {
		&:after {
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
	.quantity {
		padding: .5rem 0;
		text-align: center;
		border: 0;
		color: #002469;
		font-weight: 700;
		font-size: 25px;
		max-width: 130px;
		min-width: 30px;
		width: 100px;
		margin: 0 3px;
	}
	.cur {
		font-weight: 700;
		font-size: 25px;
		color: #002469;
		line-height: 45px;
	}
}
p.comp-instruction {
	font-size: 14px;
	color: #666;
}
.bind-value {
	&:before {
		content: 'S$';
	}
	font-size: 25px;
	color: #002469;
	font-weight: 700;
	border: 0;
	text-align: center;
	z-index: 1;
	height: 45px;
	line-height: 45px;
	left: 0;
	top: 0;
	margin: auto;
	display: none;
}
.no-currency {
	&:before {
		content: '';
	}
}
.quantity {
	top: -5px;
	left: 47px;
	position: absolute;
	font-size: 10px !important;
	text-align: left !important;
	width: 100% !important;
	max-width: initial !important;
	z-index: 10;
	background-color: transparent;
	display: none;
}
.fake-input-holder {
	font-size: 23px;
	color: #002469;
	font-weight: 700;
	border: 0;
	text-align: center;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 43px;
	line-height: 43px;
	width: 100%;
	float: left;
}
.fake-input {
	max-width: 100% !important;
	text-align: center;
	border: 0;
	line-height: normal;
	outline: 0;
}

/************************************/ 
/************** MOBILE **************/
/************************************/
.custom-mobile-table {
	width: 100%;
	th {
		width: 100%;
	}
	tbody {
		padding: 20px 0;
		display: block;
		.table-icon {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
	thead {
		.table-icon {
			margin-right: 20px;
		}
	}
	.row-head {
		padding-left: 0;
	}
	.bg-group {
		background-color: #f2f7fb;
	}
	td {
		padding: 10px 0;
		vertical-align: top;
		font-weight: 600;
	}
	td.align_icon {
		span {
			display: block;
			font-size: 1.2em;
		}
	}
}
@media only screen and (max-width : 768px) {
	.custom-desktop-table {
		font-size: 70%;
	}
	.int-calc-holder {
		.boxes-form {
			flex-direction: column;
			.box-item-form {
				width: 100%;
				margin-right: 0;
				margin-bottom: 30px;
				padding: 20px 15px;
				&:first-child {
					&:after {
						right: initial;
						bottom: -38px;
						top: initial;
						left: 0;
						width: 100%;
						height: 35px;
						background-size: auto 25px;
					}
				}
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	.fake-input-holder {
		font-size: 20px;
	}
}
@media only screen and (max-width : 767px) {
	.custom-desktop-table {
		display: none;
	}
	.int-calc-holder {
		.boxes-form {
			padding: 0;
		}
		.computation-message {
			margin-top: 30px;
			margin-bottom: 20px;
			font-size: 15px;
		}
	}
	.odom-container {
		.odometer-wrap {
			.odometer.odometer-auto-theme {
				.odometer-digit {
					min-width: 24px;
				}
			}
			.odometer {
				font-size: 2.2rem !important;
			}
			.odo-cur {
				font-size: 2.2rem !important;
			}
			.odometer-wrap-inner {
				border: 4px solid #002469;
				border-radius: 15px;
			}
		}
	}
	.odometer-formatting-mark {
		min-width: 24px;
	}
	.odometer.odometer-auto-theme {
		.odometer-digit {
			.odometer-digit-spacer {
				min-width: 24px;
			}
		}
	}
	.hidden-sm {
		display: none;
	}
	.mobile-icon {
		margin-bottom: -20px;
		max-width: 80px;
	}
	.mic-copy-wrap {
		text-align: left;
		.exp-item {
			display: inline-block;
			.box-icon {
				max-width: 50px !important;
				margin-right: 10px !important;
				margin-bottom: -10px !important;
			}
		}
	}
}
@media only screen and (min-width : 768px) {
	.custom-mobile-table {
		display: none;
	}
	.custom-desktop-table {
		th {
			display: table-cell !important;
			width: auto !important;
		}
		.eq-width {
			min-width: 130px;
		}
	}
	.hidden-md {
		display: none;
	}
	.mb-3-desktop {
		margin-bottom: 30px !important;
	}
}
/******** customised-2018.css from live site **********/

/******** odometer-theme-car.css from live site **********/
@import "//fonts.googleapis.com/css?family=Arimo";
.odometer.odometer-auto-theme {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	position: relative;
	*display: inline;
	-moz-border-radius: 0.34em;
	-webkit-border-radius: 0.34em;
	-o-border-radius: 0.34em;
	-ms-border-radius: 0.34em;
	-khtml-border-radius: 0.34em;
	border-radius: 0.34em;
	font-family: "Arimo", monospace;
	padding: 0.15em;
	background: black;
	color: #eee0d3;
	.odometer-digit {
		display: -moz-inline-box;
		-moz-box-orient: vertical;
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		position: relative;
		*display: inline;
		-moz-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.8);
		-webkit-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.8);
		-o-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.8);
		box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.8);
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(40%, #333333), color-stop(60%, #101010), color-stop(80%, #333333), color-stop(100%, #333333));
		background-image: -webkit-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		background-image: -moz-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		background-image: -o-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		background-image: -ms-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		background-image: linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		padding: 0 0.15em;
		.odometer-digit-spacer {
			display: -moz-inline-box;
			-moz-box-orient: vertical;
			display: inline-block;
			vertical-align: middle;
			*vertical-align: auto;
			visibility: hidden;
			*display: inline;
		}
		.odometer-digit-inner {
			text-align: left;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			left: 0.15em;
		}
		.odometer-ribbon {
			display: block;
		}
		.odometer-ribbon-inner {
			display: block;
			-webkit-backface-visibility: hidden;
		}
		.odometer-value {
			display: block;
			-webkit-transform: translateZ(0);
		}
		.odometer-value.odometer-last-value {
			position: absolute;
		}
		&:first-child {
			-moz-border-radius: 0.2em 0 0 0.2em;
			-webkit-border-radius: 0.2em 0 0 0.2em;
			-o-border-radius: 0.2em 0 0 0.2em;
			-ms-border-radius: 0.2em 0 0 0.2em;
			-khtml-border-radius: 0.2em 0 0 0.2em;
			border-radius: 0.2em 0 0 0.2em;
		}
		&:last-child {
			-moz-border-radius: 0 0.2em 0.2em 0;
			-webkit-border-radius: 0 0.2em 0.2em 0;
			-o-border-radius: 0 0.2em 0.2em 0;
			-ms-border-radius: 0 0.2em 0.2em 0;
			-khtml-border-radius: 0 0.2em 0.2em 0;
			border-radius: 0 0.2em 0.2em 0;
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eee0d3), color-stop(40%, #eee0d3), color-stop(60%, #bbaa9a), color-stop(80%, #eee0d3), color-stop(100%, #eee0d3));
			background-image: -webkit-linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-image: -moz-linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-image: -o-linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-image: -ms-linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-image: linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-color: #eee0d3;
			color: black;
		}
	}
}
.odometer.odometer-theme-car {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	position: relative;
	*display: inline;
	-moz-border-radius: 0.34em;
	-webkit-border-radius: 0.34em;
	-o-border-radius: 0.34em;
	-ms-border-radius: 0.34em;
	-khtml-border-radius: 0.34em;
	border-radius: 0.34em;
	font-family: "Arimo", monospace;
	padding: 0.15em;
	background: black;
	color: #eee0d3;
	.odometer-digit {
		display: -moz-inline-box;
		-moz-box-orient: vertical;
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		position: relative;
		*display: inline;
		-moz-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.8);
		-webkit-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.8);
		-o-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.8);
		box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.8);
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(40%, #333333), color-stop(60%, #101010), color-stop(80%, #333333), color-stop(100%, #333333));
		background-image: -webkit-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		background-image: -moz-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		background-image: -o-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		background-image: -ms-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		background-image: linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
		padding: 0 0.15em;
		.odometer-digit-spacer {
			display: -moz-inline-box;
			-moz-box-orient: vertical;
			display: inline-block;
			vertical-align: middle;
			*vertical-align: auto;
			visibility: hidden;
			*display: inline;
		}
		.odometer-digit-inner {
			text-align: left;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			left: 0.15em;
		}
		.odometer-ribbon {
			display: block;
		}
		.odometer-ribbon-inner {
			display: block;
			-webkit-backface-visibility: hidden;
		}
		.odometer-value {
			display: block;
			-webkit-transform: translateZ(0);
		}
		.odometer-value.odometer-last-value {
			position: absolute;
		}
		&:first-child {
			-moz-border-radius: 0.2em 0 0 0.2em;
			-webkit-border-radius: 0.2em 0 0 0.2em;
			-o-border-radius: 0.2em 0 0 0.2em;
			-ms-border-radius: 0.2em 0 0 0.2em;
			-khtml-border-radius: 0.2em 0 0 0.2em;
			border-radius: 0.2em 0 0 0.2em;
		}
		&:last-child {
			-moz-border-radius: 0 0.2em 0.2em 0;
			-webkit-border-radius: 0 0.2em 0.2em 0;
			-o-border-radius: 0 0.2em 0.2em 0;
			-ms-border-radius: 0 0.2em 0.2em 0;
			-khtml-border-radius: 0 0.2em 0.2em 0;
			border-radius: 0 0.2em 0.2em 0;
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eee0d3), color-stop(40%, #eee0d3), color-stop(60%, #bbaa9a), color-stop(80%, #eee0d3), color-stop(100%, #eee0d3));
			background-image: -webkit-linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-image: -moz-linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-image: -o-linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-image: -ms-linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-image: linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
			background-color: #eee0d3;
			color: black;
		}
	}
}
.odometer.odometer-auto-theme.odometer-animating-up {
	.odometer-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
		-webkit-transition-timing-function: linear;
		-moz-transition-timing-function: linear;
		-ms-transition-timing-function: linear;
		-o-transition-timing-function: linear;
		transition-timing-function: linear;
	}
}
.odometer.odometer-theme-car.odometer-animating-up {
	.odometer-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
		-webkit-transition-timing-function: linear;
		-moz-transition-timing-function: linear;
		-ms-transition-timing-function: linear;
		-o-transition-timing-function: linear;
		transition-timing-function: linear;
	}
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating {
	.odometer-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
.odometer.odometer-theme-car.odometer-animating-up.odometer-animating {
	.odometer-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
.odometer.odometer-auto-theme.odometer-animating-down {
	.odometer-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
.odometer.odometer-theme-car.odometer-animating-down {
	.odometer-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating {
	.odometer-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		-webkit-transition-timing-function: linear;
		-moz-transition-timing-function: linear;
		-ms-transition-timing-function: linear;
		-o-transition-timing-function: linear;
		transition-timing-function: linear;
	}
}
.odometer.odometer-theme-car.odometer-animating-down.odometer-animating {
	.odometer-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		-webkit-transition-timing-function: linear;
		-moz-transition-timing-function: linear;
		-ms-transition-timing-function: linear;
		-o-transition-timing-function: linear;
		transition-timing-function: linear;
	}
}
/******** odometer-theme-car.css from live site **********/

/******** odometer-theme-minimal.css from live site **********/
.odometer.odometer-auto-theme {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	position: relative;
	*display: inline;
	.odometer-digit {
		display: -moz-inline-box;
		-moz-box-orient: vertical;
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		position: relative;
		*display: inline;
		.odometer-digit-spacer {
			display: -moz-inline-box;
			-moz-box-orient: vertical;
			display: inline-block;
			vertical-align: middle;
			*vertical-align: auto;
			visibility: hidden;
			*display: inline;
		}
		.odometer-digit-inner {
			text-align: left;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
		}
		.odometer-ribbon {
			display: block;
		}
		.odometer-ribbon-inner {
			display: block;
			-webkit-backface-visibility: hidden;
		}
		.odometer-value {
			display: block;
			-webkit-transform: translateZ(0);
		}
		.odometer-value.odometer-last-value {
			position: absolute;
		}
	}
}
.odometer.odometer-theme-minimal {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	position: relative;
	*display: inline;
	.odometer-digit {
		display: -moz-inline-box;
		-moz-box-orient: vertical;
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		position: relative;
		*display: inline;
		.odometer-digit-spacer {
			display: -moz-inline-box;
			-moz-box-orient: vertical;
			display: inline-block;
			vertical-align: middle;
			*vertical-align: auto;
			visibility: hidden;
			*display: inline;
		}
		.odometer-digit-inner {
			text-align: left;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
		}
		.odometer-ribbon {
			display: block;
		}
		.odometer-ribbon-inner {
			display: block;
			-webkit-backface-visibility: hidden;
		}
		.odometer-value {
			display: block;
			-webkit-transform: translateZ(0);
		}
		.odometer-value.odometer-last-value {
			position: absolute;
		}
	}
}
.odometer.odometer-auto-theme.odometer-animating-up {
	.odometer-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
	}
}
.odometer.odometer-theme-minimal.odometer-animating-up {
	.odometer-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
	}
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating {
	.odometer-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
.odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating {
	.odometer-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
.odometer.odometer-auto-theme.odometer-animating-down {
	.odometer-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
.odometer.odometer-theme-minimal.odometer-animating-down {
	.odometer-ribbon-inner {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating {
	.odometer-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
.odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating {
	.odometer-ribbon-inner {
		-webkit-transition: -webkit-transform 2s;
		-moz-transition: -moz-transform 2s;
		-ms-transition: -ms-transform 2s;
		-o-transition: -o-transform 2s;
		transition: transform 2s;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
/******** odometer-theme-minimal.css from live site **********/

/******** customised-krisflyer-uob-account.css from live site **********/
.grid-content {
	.descs.no-padding {
		padding-left: 0px;
	}
}
.custom-desktop-table.bordered-darkgray {
	td {
		border: solid 1px #c3c3c3;
	}
	th {
		border: solid 1px #c3c3c3;
	}
}
.custom-desktop-table.non-stripe {
	tr {
		&:nth-child(even) {
			background-color: transparent;
		}
	}
}
.custom-desktop-table.center-content {
	td {
		text-align: center;
	}
	th {
		text-align: center;
	}
}
.custom-mobile-table.bordered-darkgray {
	td {
		border: solid 1px #c3c3c3;
	}
	th {
		border: solid 1px #c3c3c3;
	}
}
.custom-mobile-table.non-stripe {
	tr {
		&:nth-child(even) {
			background-color: transparent;
		}
	}
}
.custom-mobile-table.center-content {
	td {
		text-align: center;
	}
	th {
		text-align: center;
	}
}
.custom-mobile-table {
	tbody.pl-20 {
		padding-left: 20px;
	}
}
.custom-desktop-table {
	.td-content.td-rate.td-text-value {
		font-size: 18px;
	}
}
.td-row-header {
	font-size: 18px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.text-blue {
	color: #001f67;
}
.credit-card.account {
	.calculator-container {
		.calculator-input-wrapper {
			max-width: 600px;
			margin: 0 auto 20px;
			.btn-group {
				width: 100%;
				max-width: 202px;
			}
			select {
				width: 200px;
				font-weight: 500;
				height: 40px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
			.select-style {
				margin-bottom: 0;
				position: relative;
				&:after {
					font-family: icomoon;
					content: '\e92a';
					font-size: 20px;
					right: 10px;
					top: 6px;
					color: #fff;
					position: absolute;
				}
			}
			.calculator-toggle {
				width: 200px;
				margin-bottom: 20px;
				.btn {
					width: 50%;
					text-transform: none;
					height: 36px;
					padding-top: 5px;
				}
			}
			.form-group {
				margin-bottom: 20px;
			}
		}
		.heading-text {
			font-weight: 700;
		}
		.intro {
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 30px;
		}
	}
}
.calculator-toggle {
	.btn.btn-success {
		display: inline-block;
		margin-bottom: 0;
		font-weight: 700;
		text-align: center;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 13px 34px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 4px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: #e5e5e5;
		color: #000;
	}
	.btn.btn-success.active {
		background-color: #00216f;
		color: #fff;
	}
}
label.select-style {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	select {
		height: 46px;
		padding: 6px 12px;
		font-size: 18px;
		color: #00216f;
	}
}
.int-calc-holder {
	.boxes-form {
		.box-item-form {
			&:first-child {
				&:after {
					background-image: none;
				}
			}
			&:last-child {
				background-color: #fff;
				color: #00216f;
				.block-label {
					color: #00216f;
					display: block;
				}
			}
		}
	}
}
.text-18 {
	font-size: 18px;
}
.overide-for-mobile {
	display: block !important;
	.comparison-tbl {
		td {
			display: table-cell;
		}
	}
}
th {
	display: table-cell;
}
@media (max-width: 767px) {
	.credit-card.account {
		.calculator-container {
			.heading-text {
				margin-bottom: 10px;
				text-align: center;
			}
			.form-group {
				text-align: center;
			}
			.toggle-wrapper {
				text-align: center;
			}
		}
	}
	.infomation-tbl {
		overflow-x: scroll;
	}
	.overide-for-mobile {
		width: 750px;
		.eq-width {
			width: 250px;
		}
	}
	.table-oveflow {
		overflow-x: scroll;
	}
}
/******** customised-krisflyer-uob-account.css from live site **********/

