/************************************/
/******** DESKTOP / GLOBAL **********/
/************************************/ 

.custom-desktop-table th, .custom-mobile-table th{
    color: #fff;
    background: #001f67;
    padding: 25px 12px;
}

.custom-desktop-table .table-icon, .custom-mobile-table .table-icon{
	max-width: 50px;
}

.custom-desktop-table .mg-r-10{
	margin-right: 10px;
}

.custom-desktop-table td{
    padding: 25px 12px;
    vertical-align: top;
}

.custom-desktop-table td, .custom-desktop-table th{
	border: solid 1px #e5e5e5;
}

.custom-desktop-table tr:nth-child(even){
	background-color: #f2f7fb;
}

.custom-desktop-table .td-content.td-rate{
	font-size: 20px;
}

.custom-desktop-table .row-head, .custom-mobile-table .row-head{
	color: #001f67;
	padding-left: 20px;
	font-weight: 600;
}

.custom-desktop-table .total-text, .custom-mobile-table .total-text{
	margin-top: 20px;
	display: block;
	font-weight: 900;
}

.custom-desktop-table .list-alpha{
	margin-left: -20px;
}

p.comp-instruction{
	font-size: 14px;
	color: #666;
}

/************************************/ 
/************** MOBILE **************/
/************************************/

.custom-mobile-table{
	width:100%;
}

.custom-mobile-table th{
	width: 100%;
}

.custom-mobile-table tbody{
    padding: 20px 0;
    display: block;
}

.custom-mobile-table tbody .table-icon{
	margin-left: 20px;
	margin-right: 20px;
}

.custom-mobile-table thead .table-icon{
    margin-right: 20px;	
}

.custom-mobile-table .row-head{
	padding-left: 0;
}

.custom-mobile-table  .bg-group{
	background-color: #f2f7fb;
}

.custom-mobile-table td{
    padding: 10px 0;
    vertical-align: top;
    font-weight: 600;
}

.custom-mobile-table td.align_icon span{
	display: block;
	font-size: 1.2em;
}


@media only screen and (max-width : 768px){
	.custom-desktop-table{
		font-size: 70%;
	}
}

@media only screen and (max-width : 767px){
	.custom-desktop-table{
		display: none;
	}
}

@media only screen and (min-width : 768px){
	.custom-mobile-table{
		display: none;
	}

	.custom-desktop-table th{
		display: table-cell!important;
		width: auto!important;
	}

	.custom-desktop-table .eq-width{
		min-width: 130px;
	}

}







